* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #e0e5ec;
  --main-font-to-color: #6a7786;
  --main-color-alt: #1787e0;
  --primary: #6d5dfc;
  --min-font-color: rgba(0, 0, 0, 0.582);
  --main-transition: 0.3s;
  --font-title: 'Roboto Slab', serif;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--main-bg-color);
  /* direction: rtl; */
}

.minet {
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
}

/* Menu */
.menu {
  width: 10%;
  height: 100vh;
  background-color: var(--main-bg-color);
  color: rgb(8, 7, 7);
  border-radius: 30px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  /* For Neumorphism Effect */
}




.menu .logo {
  font-size: 6ch;
  margin: 60px 0px 100px 0px;
}

.menu a {
  display: block;
  font-size: 20px;
  color: rgb(0, 0, 0);
  margin: 20px;
  padding: 10px;
}

.menu a:hover {
  background-color: var(--min-font-color);
  color: var(--main-bg-color);
  letter-spacing: 4px;
  transition: 0.5s;
}

.menu p {
  font-weight: bold;
  margin-top: 100%;
}
.menu p {
  order: 2;
}

/* Body */
.body {
  margin: 20px;
  width: 80%;
}

.body .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  padding:10px 30px;
}

.navbar img {
  border-radius: 50%;
  margin: 0px 5px;
}
.navbar .user {
  display: flex;
  align-items: center;
}

.menu-bar {
  position: relative;
  display: inline-block;
}

 .menu-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.menu-content {
  display: none;
  position: absolute;
  min-width: 160px;
  right:2px;
  margin: 5px 0px;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 20px 0 0 20px;
}

 .menu-bar:hover .menu-content {
  display: block;
}



.right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user,
.notifications-menu,
.login-logout-menu {
    margin:0px 20px;
}






.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

}

.search-input {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
  background-color: var(--back-color);
  /* border: #5a626834 2px solid; */
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.search-button {
  padding: 10px;
  border: none;
  background: #5a6268;
  color: #fff;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

.search-button i {
  font-size: 1.2em;
}



.welcome-title {
  text-align: left;
  padding: 40px 5px 10px 5px;
  color: #5e6063;
   font-family: var(--font-title); 
  
 
 
}

.welcome-title h1 {
  font-size: 1.8em;
  font-weight: bolder;
}


/* Cards */
/* .cards {
    display: flex;
  justify-content: space-between;

 
  margin: 20px 0px 50px 0px;
} */

.card-dash{
  /* display: flex;
  justify-content: space-between; */
  width: 150px;
  height: 150px;

  border-radius: 30px;
  color: var(--min-font-color);
  /* padding: 30px; */
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

/* .card-dash .icon {
  margin-top: 10px;
  color: var(--min-font-color);

  border-radius: 50%;
}

.card-dash h1 {
  font-weight: bold;
  margin: 10px 0px;
  color: var(--min-font-color);
} */













/* Modal */
/* The Modal (background) */
#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  
}

/* Modal Content/Box */
#myModal .modal-content {
  
  margin: 12% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  outline: 0;
  background-color: var(--main-bg-color);
  background-clip: padding-box;
}

.modal-content h2{
  padding: 20px;
}
/* The Close Button */
#myModal .close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

#myModal .close:hover,
#myModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#myModal label {
  color: #868b98;
  display: block;
  text-align: start;
  /* padding: 10px 35px; */
  padding: 10px 35px;

}

#myModal input,textarea{
  background-color: var(--back-color);
  border-radius: 5px;
  border: none;
  box-shadow: inset 5px 5px 5px rgb(163, 177, 198, 0.6),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
  outline: none !important;
  width: 80%;
  justify-content: center;

}

.file-upload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.file-upload__label {

  font-size: 0.8rem;
  transition: all .4s;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: inset 5px 5px 5px rgb(163, 177, 198, 0.6),
  inset -5px -5px 5px rgba(255, 255, 255, 0.5);
  width: 80%;
}

.file-upload__input {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  
}


#myModal .btn-modal{
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  padding:10px 25px;
  color: #868b98;
  background-color: var(--main-bg-color);
  width: 30%;
  box-shadow: 7px 7px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
#myModal .btn-modal:hover{

  /* background-color: var(--main-bg-color); */
  background-color: var(--back-color);
  box-shadow: inset 5px 5px 5px rgb(163, 177, 198, 0.6),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5);
  padding: 10px 15px;
}








/* Table  */
.table {
  margin: 40px 0px;
  padding: 20px;
  width: 100%;
  border-radius: 15px;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
  color: #6a7786;
}


.table .head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 30px;
}

.table button {
  border-radius: 15px;
  font-size: 18px;
  color: var(--min-font-color);
  padding: 10px 30px;
  font-weight: bold;
  background-color: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}

.table button:hover {
  box-shadow: inset 5px 5px 5px rgb(163, 177, 198, 0.6),
    inset -5px -5px 5px rgba(255, 255, 255, 0.5);
}

.Absolute-Center {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.table table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-collapse: collapse !important;
}

.table th {
  border-bottom: 3px solid rgba(0, 0, 0, 0.136);
  padding: 0.75rem;
  margin-bottom: 10px;
  
}

.table td {
  padding: 0.75rem;
  border-bottom: 1px solid #dee2e6;
}

/* .table table tr:nth-child(even){background-color: #f2f2f2;} */
.table tr:hover {
  background-color: #1a19190c;
}



.table tr a {
    border-radius: 15px;
    font-size: 18px;
    color: var(--min-font-color);
    padding: 10px 30px;
    font-weight: bold;
    background-color: #e0e5ec;
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),
      -9px -9px 16px rgba(255, 255, 255, 0.5);

}



.actionButton {

  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px !important;
  margin: 4px 2px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #4caf4fad !important;  /* Green */ 
}

.deleteButton:hover {
  background-color: #f44336c2 !important; /* Red */
}












/* menu */

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .menu {
    /* Add your styles for mobile layout here */
    width: 100%;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .menu {
    /* Add your styles for tablet layout here */
    width: 50%;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .menu {
    /* Add your styles for desktop layout here */
    width: 20%;
  }
}




/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .menu .logo {
    /* Add your styles for mobile layout here */
    font-size: 5ch;
    margin: 30px 0px 50px 0px;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .menu .logo {
    /* Add your styles for tablet layout here */
    font-size: 6ch;
    margin: 45px 0px 75px 0px;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .menu .logo {
    /* Add your styles for desktop layout here */
    font-size: 7ch;
    margin: 60px 0px 100px 0px;
  }
}











/* cards */

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .cards {
    /* Add your styles for mobile layout here */
    grid-template-columns: repeat(1, 1fr);
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .cards {
    /* Add your styles for tablet layout here */
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .cards {
    /* Add your styles for desktop layout here */
    grid-template-columns: repeat(4, 1fr);

  }
}







/* Table */


/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .table {
    /* Add your styles for mobile layout here */
    overflow-x: auto;
    display: block;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .table {
    /* Add your styles for tablet layout here */
    overflow-x: auto;
    display: block;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .table {
    /* Add your styles for desktop layout here */
    width: 100%;
  }
}



/* Title-page */

/* For mobile phones: */
@media only screen and (max-width: 600px) {
  .title-page {
    /* Add your styles for mobile layout here */
    flex-direction: column;
    align-items: center;
  }

  .title-page h2 {
    margin: 20px 0;
  }
}

/* For tablets: */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .title-page {
    /* Add your styles for tablet layout here */
    flex-direction: row;
    align-items: center;
  }

  .title-page h2 {
    margin: 0px 20px;
  }
}

/* For desktop: */
@media only screen and (min-width: 1200px) {
  .title-page {
    /* Add your styles for desktop layout here */
    flex-direction: row;
    justify-content: space-between;
  }

  .title-page h2 {
    margin: 0px 40px;
  }
}