<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="minet">

        <div class="menu">
            <h3 class="logo">Logo</h3>
            <div class="linkes">
                <a href="index.html">Dashbord</a>
                <a href="users.html">Usrts</a>
                <a href="posts.html">posts</a>
                <a href="category.html">category</a><br>

                <p>Disghen by Muntadher </p>
            </div>
        </div>

        <div class="body">
            <!-- Title  Page-->
            <div class="navbar">
                <!-- <div class="title-page">
                    <h2>Welcom to my Web</h2>
                    <img src="1.jpg" alt="" width="50" height="50" srcset="">
                </div> -->

                <div class="search-bar">
                    <input type="text" class="search-input" placeholder="Search">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>



                <div class="right-content">
                    <div class="user">
                        <img src="1.jpg" alt="" width="40" height="40" srcset="">
                        <span>Montazar</span>
                    </div>

                    <!-- Notifications Menu -->
                    <div class="menu-bar notifications-menu">
                        <button class="menu-button">
                            <i class="fas fa-bell"></i>
                        </button>
                        <div class="menu-content">
                            <!-- Add your notifications here -->
                            <p>No new notifications</p>
                        </div>
                    </div>

                    <!-- Login/Logout Menu -->
                    <div class="menu-bar login-logout-menu">
                        <button class="menu-button">
                            <i class="fas fa-user"></i>
                        </button>
                        <div class="menu-content">
                            <!-- Add your login/logout options here -->
                            <a href="#">Login</a><br>
                            <a href="#">Logout</a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="welcome-title">
                <h1>Posts </h1>
            </div>


     

         




     <!-- The Modal -->
     <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Create a New Post</h2><br>
            <form id="postForm">
                <div>
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title">
                </div>
                <div>
                    <label for="author">Author:</label>
                    <input type="text" id="author" name="author">
                </div>
                <div>
                    <label for="content">Content:</label>
                    <textarea id="content" name="content" cols="30" rows="10"></textarea><br>
                </div><br>
            <!-- <button type="button">Submit</button> -->
                <input class="btn-modal"  type="submit" value="Submit">
            </form>
        </div>

        </div>





            <!-- table -->
            <div class="table">
                <div class="head">
                    <h2>Table Posts</h2>
                    <!-- <button onclick="onclick()">&#9776;</button> -->
                    <button id="openModalButton">Create New Post </button>

                </div>

                <table>
                    <th>id</th>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                    <th>Action</th>

                    <tr>
                        <td>1</td>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                        <td>
                         
                          <a class="actionButton editButton" href="#">Edit</a>
                          <a class="actionButton deleteButton" href="#">Delete</a>
                      </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Berglunds snabbköp</td>
                        <td>Christina Berglund</td>
                        <td>Sweden</td>
                        <td>
                        
                          <a class="actionButton editButton" href="#">Edit</a>
                          <a class="actionButton deleteButton" href="#">Delete</a>
                      </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                        <td>
              
                          <a class="actionButton editButton" href="#">Edit</a>
                          <a class="actionButton deleteButton" href="#">Delete</a>
                      </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                        <td>
                          
                          <a class="actionButton editButton" href="#">Edit</a>
                          <a class="actionButton deleteButton" href="#">Delete</a>
                      </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                        <td>
                          
                          <a class="actionButton editButton" href="#">Edit</a>
                          <a class="actionButton deleteButton" href="#">Delete</a>
                      </td>
                    </tr>

                </table>

            </div>

        </div>

    </div>





    <script src="js/main.js"></script>
    <script src="fontawesome-free-5.15.4-web/js/all.min.js"></script>
</body>

</html>